body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    width: 99%;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    color: #fff;
    background: linear-gradient(rgba(65, 122, 153, 0.5), rgba(31, 44, 61, 0.7)),
        url('./images/globe-2.jpg') no-repeat center;
    background-size: cover;
}

h1 {
    font-size: 4.8rem;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 800;
}

h2 {
    margin: 0;
    font-size: 1.2rem;
}

.search {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 36%;
}
.search-result {
    margin: 0;
}
.search-buttons {
    margin: 16px 0 26px;
}
.button {
    background-color: #885be4;
    border: none;
    padding: 12px 10px;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
}
.button:hover {
    background-color: #521bad;
    cursor: pointer;
}
.search-sort {
    padding: 12px 18px;
}
.search-input {
    width: 100%;
    display: flex;
    justify-content: center;
}
.search-input-box {
    padding: 8px 16px;
    width: 90%;
    border-radius: 16px;
    border: none;
    font-size: 1.1rem;
}
.search-input-box:focus {
    outline: none;
}
.search-input-box::placeholder {
    text-align: center;
}
.search-icon {
    margin-left: 4px;
    padding: 0.3rem;
    font-size: 1.2rem;
    flex: 1;
}
.search-icon i:hover {
    opacity: 0.7;
    cursor: pointer;
}