html {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url('images/galaxy.gif');
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #fff;
    font-size: 60px;
    margin: 30px 20px;
}

form {
    width: 54%;
    display: flex;
    justify-content: space-between;
}

.input {
    flex: 1;
    border: none;
    height: 50px;
    font-size: 18px;
    padding: 0 10px;
    border-radius: 2px;
}

input {
    outline: none;
    max-width: 294px;
}

select {
    color: #74746f;
    max-width: 234px;
}

select:focus {
    outline: none;
}

select:hover {
    cursor: pointer;
}

button {
    color: #fff;
    max-width: 160px;
    background-color: #686968;
}

button:hover {
    cursor: pointer;
}

.planet {
    display: flex;
    margin: 20px 0;
    --size: 140px;
    padding: 60px 30px;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(77, 74, 74, 0.5);
}

.image {
    width: 100%;
    height: 100%;
}

.planet-description {
    color: #fff;
    display: flex;
    font-size: 22px;
    min-width: 600px;
    padding: 16px 40px;
    align-items: center;
    flex-direction: column;
    background-color: rgb(55, 55, 55, 0.5);
}

.planet-name {
    font-weight: bold;
    text-transform: uppercase;
}

.planet-weight {
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    width: var(--size);
    border-radius: 50%;
    text-align: center;
    height: var(--size);
    line-height: var(--size);
    background-color: rgb(74, 74, 73, 0.5);
}

.hidden {
    display: none;
}
