html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 90%;
    margin: 50px auto;
}

.name {
    margin: 20px 0;
    font-size: 6rem;
    letter-spacing: 20px;
}

.description {
    display: flex;
    flex-direction: column;
}

.titles {
    width: 100%;
    display: flex;
    font-size: 2rem;
    background-color: #eddfde;
}

.icon-box {
    display: flex;
    padding: 40px 20px;
    align-items: center;
    justify-content: center;
}

.title {
    margin: 0;
    display: flex;
    padding: 30px 0;
    margin-left: 30px;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    animation: fadeInFromLeft 1.2s linear;
}

.text {
    font-size: 2rem;
}

.link {
    text-decoration: none;
    color: rgb(243, 34, 166);
}

.link:hover {
    color: rgb(68, 201, 201);
}

.projects {
    display: flex;
    font-size: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.project {
    width: 25%;
    color: #000;
    margin: 20px;
    height: 300px;
    display: flex;
    padding: 20px 16px;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    background-color: #fbfbfc;
    text-transform: uppercase;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

.project:hover {
    transform: scale(1.05);
    background-color: #eddfde;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    margin: 8px;
    padding: 8px;
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: #ffbecd;
}

.skills {
    margin: 16px 0;
    font-size: 2rem;
}

.skill {
    margin: 0 8px;
    font-size: 5rem;
    font-weight: bolder;
    text-transform: uppercase;
    animation: fadeIn 1.2s linear;
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        margin-left: -30px;
    }

    100% {
        opacity: 1;
        margin-left: 30px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
